@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Doto:wght,ROND@700,0..100&family=Faculty+Glyphic&family=Geist+Mono:wght@100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --button-border: 1px solid rgba(152, 161, 192, 0.24);
  --button-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4);
  --button-box-shadow-hover: 0px 0px 8px 8px rgba(30, 136, 229, 0.2);
  --transition-ease: all 0.3s ease;
  
}

.sour-gummy {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.geist-mono {
  font-family: "Geist Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}

.doto {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "ROND" 10;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.custom-button {
  border: var(--button-border);
  border-radius: 20px;
  box-shadow: var(--button-box-shadow);
  transition: var(--transition-ease);
}

.custom-button:hover {
  box-shadow: var(--button-box-shadow-hover);
}